@font-face {
    font-family: openDys;
    src: url(VanillaExtractRegular.ttf);
}

@font-face {
    font-family: museo;
    src: url(MuseoSans_500.otf);
}

@font-face {
    font-family: amiable;
    src: url(MuseoSans_500.otf);
}

.parr {
	background-image: url("background.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
	background-position: center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.games {
  text-align: right;
  color: white;
  font-family: museo;
  line-height: 17px;
  word-spacing: 2px;
}

.logo {
	padding-top: 3%;
	align-items: center;
	justify-content: center
}

.subtitle {
	font-family: openDys;
  position: absolute;
	font-size: 40px;
  top: 70%;
	color: #FFFFFF;
  margin: 0 auto;
  left: 0;
  right: 0;
}

body {
	background-color: #575f91;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: amiable;
	padding: 0;
	cellpading: 0;
	margin: 0;
}

h1 {
	font-family: amiable;
	font-size: 50px;
	color: #ffffff;
}

h2 {
	font-family: openDys;
	font-size: 35px;
	color: #ffffff
}

h3 {
	font-family: openDys;
	font-size: 25px;
	color: #ffffff
}

p {
	font-family: amiable;
	color: #ffffff;
	margin-left: 30px;
	line-height: 30px;
}

th
{
	font-size: 20pt;
	padding-left: 5px;
	padding-right: 80px;
}

p1 {
	font-family: openDys;
	font-size:10px;
	color: #ffffff;
	text-align: center;
	line-height: 12px;
}

a {
	color: #3c6ae0;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
	color: #72c3da;
}
a:active {
    text-decoration: none;
}

#games, #misc, #music {
	position: absolute;
	top: 160%;
	margin: 0 auto;
	left: 0;
	right: 0;
}

#grad
{
	background: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,1));
	postion: absolute;
	left: 0;
	height: 20%;
	padding-left: 10px;
	padding-top: 0.1px;
}

#misc {
	word-wrap: break-word;
}

.box {
	background-color: gray;
	padding: 10px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#headtab
{
	position: fixed;
  left: 0;
  right: 0;
	top: -18px;
	text-align: center;
	z-index: 10;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 30px;
    text-decoration: none;
	font-family: openDys;
}
li a:hover {
    background-color: #111;
}

#sidebar {
    position:absolute;
    left:2%; top:60px; bottom: 0;
    width: 178px;
	text-align: left;
	position: fixed;
	z-index: 10;
}

#links, #showbar {
	position: absolute;
}

.gamelinks
{
  postion: relative;
}
